In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.DataFrame(pd.read_csv("data/cleaned_car_data.csv"))
df

,id,name,company,year,Price,kms_driven,fuel_type,gearbox
0,0.0,Hyundai Santro Xing,Hyundai,2007.0,80000.0,450000.0,Petrol,manual
1,1.0,Mahindra Jeep,Mahindra,2006.0,425000.0,150000.0,Diesel,automatic
2,2.0,Maruti Suzuki Alto,Maruti,2018.0,40000.0,28000.0,Petrol,automatic
3,3.0,Hyundai Grand,Hyundai,2014.0,325000.0,36000.0,Petrol,automatic
4,4.0,Ford EcoSport Titanium,Ford,2014.0,575000.0,59000.0,Diesel,manual
...,...,...,...,...,...,...,...,...
102729,NaN,NaN,NaN,NaN,NaN,NaN,NaN,manual
102730,NaN,NaN,NaN,NaN,NaN,NaN,NaN,automatic
102731,NaN,NaN,NaN,NaN,NaN,NaN,NaN,manual
102732,NaN,NaN,NaN,NaN,NaN,NaN,NaN,manual
102733,NaN,NaN,NaN,NaN,NaN,NaN,NaN,manual

In [3]:
df['name'].unique()

array(['Hyundai Santro Xing ', 'Mahindra Jeep ', 'Maruti Suzuki Alto',
       'Hyundai Grand ', 'Ford EcoSport Titanium ', 'Ford Figo',
       'Hyundai Eon', 'Ford EcoSport Ambiente ', 'Maruti Suzuki Alto ',
       'Skoda Fabia Classic ', 'Maruti Suzuki Stingray Vxi',
       'Hyundai Elite ', 'Mahindra Scorpio SLE BS IV', 'Audi ',
       'Mahindra Scorpio S', 'Mahindra Scorpio ', 'Hyundai ', 'Hyundai i',
       'Hyundai  Sportz ', 'Maruti Suzuki Vitara Brezza ZDi',
       'Maruti Suzuki Alto LX', 'Mahindra Bolero DI',
       'Maruti Suzuki Swift Dzire ZDi', 'Maruti Suzuki Swift Vdi BSIII',
       'Maruti Suzuki Wagon R VXi BS III',
       'Maruti Suzuki Wagon R VXi Minor', 'Toyota Innova  STR BS IV',
       'Renault Lodgy 85 PS RXL', 'Skoda Yeti Ambition TDI CR ',
       'Maruti Suzuki Baleno Delta ', 'Renault Duster Diesel Plus',
       'Renault Duster  Diesel', 'Honda City S MT', 'Maruti Suzuki AMT',
       'Maruti Suzuki Dzire', 'Honda Amaze', 'Honda Amaze  DTEC',
       'Honda City', 'Datsun Redi GO S', 'Maruti Suzuki SX4 ZXI MT',
       'Mitsubishi Pajero Sport Limited Edition', 'Mahindra Scorpio WD',
       'Maruti Suzuki Swift ', 'Honda City ZX CVT',
       'Maruti Suzuki Wagon R LX BS IV', 'Tata Indigo eCS LS CR4 BS IV',
       'Tata Indigo', 'Mahindra Scorpio SLE ',
       'Volkswagen Polo Highline Exquisite ',
       'Maruti Suzuki Stingray VXi', 'Chevrolet Spark ',
       'Renault Duster ', 'Mini Cooper ', 'Datsun Redi',
       'Skoda Fabia Diesel Ambiente', 'Renault Duster', 'Mini Cooper S ',
       'Mahindra Scorpio VLX', 'Mahindra Quanto ', 'Ford EcoSport',
       'Honda Brio', 'Volkswagen Vento Highline Plus ', 'Hyundai Magna',
       'Toyota Corolla Altis Diesel ', 'Hyundai Verna Transform',
       'Toyota Corolla Altis Petrol Ltd', 'Honda City ',
       'Skoda Fabia Diesel Elegance', 'BMW  Series ',
       'Maruti Suzuki A Star Lxi', 'Toyota Etios GD',
       'Ford Figo Diesel EXI Option', 'Maruti Suzuki Swift Dzire VXi ',
       nan], dtype=object)

In [4]:
df['company'].unique()

array(['Hyundai', 'Mahindra', 'Maruti', 'Ford', 'Skoda', 'Audi', 'Toyota',
       'Renault', 'Honda', 'Datsun', 'Mitsubishi', 'Tata', 'Volkswagen',
       'Chevrolet', 'Mini', 'BMW', nan], dtype=object)

In [5]:
df['fuel_type'].unique()

array(['Petrol', 'Diesel', 'petrol', nan], dtype=object)

In [6]:
df['gearbox'].unique()

array(['manual', 'automatic'], dtype=object)